<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWKS Catalog</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.min.js" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="index.html" hx-get="./snippets/home.html" hx-target="#content" hx-push-url="index.html"><h1>JWKS Catalog</h1></a>
    </header>
    <div class="container">
        <!-- Left Navigation Panel -->
        <nav class="left-panel">
            {{range .Services}}
            <a href="./service-{{.Name | urlquery}}.html" hx-get="./snippets/{{.Id | urlquery}}.html" hx-target="#content"
            hx-push-url="./service-{{.Name | urlquery}}.html">{{.Name}}</a>
            {{end}}
        </nav>

        <!-- Right Content Panel -->
        <main class="right-panel" id="content">
            {{.Content}}
        </main>
    </div>
    <footer>
        <p><a href="https://github.com/UnitVectorY-Labs/jwks-catalog"><b>jwks-catalog</b> on GitHub</a></p>
    </footer>
</body>
</html>