<h2>{{.Name}}</h2>

<div class="endpoint-cards">
{{if .OpenIDConfiguration}}
<div class="endpoint-card">
<span class="endpoint-label">OpenID Configuration</span>
<a href="{{.OpenIDConfiguration}}" target="_blank">{{.OpenIDConfiguration}}</a>
</div>
{{end}}
<div class="endpoint-card">
<span class="endpoint-label">JWKS URI</span>
<a href="{{.JWKSURI}}" target="_blank">{{.JWKSURI}}</a>
</div>
</div>

{{- if .AliasDisplays}}
<div class="content-card aliases-card">
<h3>Also Discoverable Via</h3>
<ul class="alias-list">
{{- range .AliasDisplays}}
  <li><a href="{{.OpenIDConfiguration}}" target="_blank">{{.Domain}}</a></li>
{{- end}}
</ul>
</div>
{{- end}}

{{- if .ActiveKeys}}
<div class="content-card">
<h3>Active Keys</h3>
<table class="key-history">
  <thead>
    <tr>
  <th class="kid-col">KID</th>
  <th class="use-col">Use</th>
  <th class="alg-col">Alg/Crv</th>
  <th class="keylength-col">Key Length</th>
  <th class="keydate-col">Observed</th>
    </tr>
  </thead>
  <tbody>
    {{- range .ActiveKeys}}
    <tr class="status-active">
      <td class="kid">{{.Kid}}</td>
      <td>{{.Use}}</td>
      {{if eq .Kty "EC"}}
      <td>{{.Crv}}</td>
      {{else}}
      <td>{{.Alg}}</td>
      {{end}}
      <td>{{.KeyLength}}</td>
      <td>
        {{.FirstObservedFormatted}}
      </td>
    </tr>
    {{- end}}
  </tbody>
</table>
</div>
{{- end}}

{{- if .InactiveKeys}}
<div class="content-card">
<h3>Recently Deactivated Keys</h3>
{{if eq $.DefaultKeyHistorySize (len .InactiveKeys)}}
<p><em>(Most recent {{.DefaultKeyHistorySize}} records shown)</em></p>
{{end}}
<table class="key-history">
  <thead>
    <tr>
  <th class="kid-col">KID</th>
  <th class="use-col">Use</th>
  <th class="alg-col">Alg/Crv</th>
  <th class="keylength-col">Key Length</th>
  <th class="keydate-col">Observed</th>
    </tr>
  </thead>
  <tbody>
    {{- range .InactiveKeys}}
    <tr class="status-inactive">
      <td class="kid">{{.Kid}}</td>
      <td>{{.Use}}</td>
      {{if eq .Kty "EC"}}
      <td>{{.Crv}}</td>
      {{else}}
      <td>{{.Alg}}</td>
      {{end}}
      <td>{{.KeyLength}}</td>
      <td>
        {{.FirstObservedFormatted}} to {{.LastObservedFormatted}} ({{.DaysActive}} days)
      </td>
    </tr>
    {{- end}}
  </tbody>
</table>
</div>
{{- end}}
